@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

body{
    display: flex;
    align-items: center;
}



.fundo{
    height: 100vh;
}

.front-card{
    position: absolute;
    top: 7rem;
    left: 8rem;
}

.back-card{
    position: absolute;
    top: 24rem;
    left: 14rem;
}

.logo-cartao{
    position: absolute;
    top: 25px;
    left: 30px;
}

.conteudo , .cod{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numero-cartao{
    position: absolute;
    top: 9rem;
    font-size: 1.6rem;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    color: white;
}

.nome-cartao{
    position: absolute;
    top: 12.8rem;
    left: 38px;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}

.validade{
    position: absolute;
    top: 12.8rem;
    left: 355px;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}

.validade2{
    position: absolute;
    top: 12.8rem;
    left: 400px;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}



.cvc1{
    position: absolute;
    top: 6.9rem;
    left: 355px;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
}

div.formulario{
    height: 400px;
    width: 380px;
    position: absolute;
    left: 60%;
}



.inputs{
    margin-top: 50px;
}

.inputs input{
    width: 85%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
}

label{ 
    margin: 5px;
    font-size: 14px;
    color: hsl(278, 68%, 11%);
}

.name{
    position: absolute;
    top: 22px;
    left: -4px;
}


.number{
    position: absolute;
    top: 108px;
    left: -4px;
}


.inputs input:focus{
    border-image-source:linear-gradient( hsl(249, 99%, 64%) , hsl(278, 94%, 30%));
    border-image-slice: 1;
} 


.facts{
    display: flex;
}

.data{
    margin-top: 70px;
}

.data input{
    width: 60px;
    margin-right: 8px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    outline: none;
}

.label-date{
    position: absolute;
    top: 213px;
    left: -4px;
    font-size: 14px;
    color: hsl(278, 68%, 11%);
}

.data input:focus{
    border-image-source:linear-gradient( hsl(249, 99%, 64%) , hsl(278, 94%, 30%));
    border-image-slice: 1;
}


.cvc{
    margin-top: 70px;
    margin-left: 20px;
}

.label-cvc{
    position: absolute;
    top: 213px;
    left: 155px;
}

.cvc input{
    width: 160px;
    margin-right: 8px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    outline: none;
}

.cvc input:focus{
    border-image-source:linear-gradient( hsl(249, 99%, 64%) , hsl(278, 94%, 30%));
    border-image-slice: 1;
}

.btn{
    margin-top: 30px;
}

button{
    padding: 9px;
    width: 85%;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: hsl(278, 68%, 11%);
    cursor: pointer;
}
button:disabled{
    opacity: 0.4;
    cursor: default;
}


.aviso{
    font-size: 11px;
    display: none;
    margin: 3px 0px 0px 3px;
    position: absolute;

}








