@media only screen and (max-width: 720px){
    
    body{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    

    main{
        display: flex;
        flex-direction: column;
        max-width: 450px;
        height: 780px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.175);
    }

    #chanel{
       height: 300px;
       width: 450px ;
       border-radius: 10px 10px 0px 0px ;
    }


}